@page
@model MyWebApp.Pages.LoginSignupModel
@{
ViewData["Title"] = "Login/Signup";
}
<head>
    <link rel="stylesheet" href="~/css/loginSignup.css">
</head>

<h1>Login</h1>

<div class="container">
    <form method="post">
        <input type="text" name="username" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <input type="submit" value="Login" />
    </form>


    <form method="post">
        <input type="text" name="username" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <button class="btn btn-primary"><a class="text-light" style="text-decoration:none" asp-area="" asp-page="/LoginSignup">Sign Up</a></button>
    </form>
   
</div>