@page
@model MyWebApp.Pages.LoginModel
@{
ViewData["Title"] = "Login";
}
@{
    var successMessage = TempData["SuccessMessage"] as string;
}
@if (!string.IsNullOrEmpty(successMessage))
{
    <script>
        window.onload = function() {
            // show the success message for login/signup
            alert("@successMessage");
        };
    </script>
}
<head>
    <link rel="stylesheet" href="~/css/Login.css">
</head>

<h1> Login </h1>

<div class="container">
    <form method="post" asp-page-handler = "Login">
        <input type="text" asp-for="Login.email" placeholder="Email" required />
        <input type="password" asp-for="Login.password" placeholder="Password" required />
        <div>
        <a asp-page="/ForgotPassword">Forgot Password?</a>
        <p>
            Don't have an account?
            <a asp-page="/Signup">Sign up</a>
        </p>
        </div>
        <input type="submit" value="Login" />
    </form>
    
   


@if (!ModelState.IsValid)
{
    <div class="validation-summary-errors text-danger">
        <ul>
            @foreach (var modelState in ViewData.ModelState.Values)
            {
                foreach (var error in modelState.Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}
