@page
@model MyWebApp.Pages.SoccerModel
@{
ViewData["Title"] = "Soccer";
}

<style> 
    h1 {text-align: center;}
    p {text-align: center;}
</style>

<h1>Soccer</h1>
<p> Functionality for Tournaments, search by position
    and block coming soon... </p>
