@page
@model MyWebApp.Pages.SoccerModel
@{
ViewData["Title"] = "Soccer";
}

<h1>Soccer</h1>
<p> Functionality for Tournaments, search by position
    and block coming soon... </p>

<head>
    <meta charset="UTF-8">
    <title>
        Position Search
    </title>
    <style> 
        h1 {text-align: center;}
        p {text-align: center;}
    </style>
</head>
<body>
    <h2> Search by position </h2>
    <form action="/search" method="GET">
        <label for="position">Enter position: </label>
        <select id="position" name="position" class="search-width">
            <option value="">Select position</option> <!-- Default value !-->
            <option value="Goalkeeper">GK</option>
            <option value="Center Back">CB</option>
            <option value="Center Midfield">CM</option>
            <option value="Striker">ST</option>
            <option value="Winger">W</option>
            <option value="Fullback">FB</option> <!-- Fullback is Left back or Right back !-->
        </select>
        <button type="submit">Search</button>
        <!-- 
            <input type="text" name="position" placeholder="Position">
            <input type="submit" value="Search"> -->
    </form>
</body>
